* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {outline:none;}

nav {
    height: 56px;
    box-shadow: 0px 0px 10px rgb(218, 218, 218);
    display: grid;
    grid-template-columns: 1fr 680px 1fr;
    padding-inline: 15px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 500;
}

.center-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left-nav-section>a>img {
    width: 40px;
    border: 0;
    padding-top: 2px;
}

a {
    text-decoration: none;
}

.center-nav-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-nav-section>a>img {
    width: 28px;
    padding-inline: 30px;
    mix-blend-mode: multiply;
}

.center-nav-section>a {
    margin-inline: 3px;
    border: #fff 1px solid;
    border-radius: 10px;
    transition: all .1s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 15px;
    width: 100px;
    height: 48px;
}

.center-nav-section>a:hover {
    background-color: #f1f1f1;
    transition: all .05s ease-in;
}

.active:hover {
    background-color: #fff !important;
}

.active {
    display: flex;
    flex-direction: column;
    height: 60px !important;
    border: 0 !important;
}

.active>img {
    padding-top: 16px;
    margin-bottom: 13px;
}

.active-line {
    color: rgb(57, 117, 234);
    background-color: rgb(57, 117, 234);
    height: 3px;
    width: 125px;

}

.main-content-grid {
    padding-top: 30px;
    background-color: rgb(240, 242, 245);
    display: grid;
    grid-template-columns: 1fr 680px 1fr;

}

.order-nav {
    border-bottom: 1px rgb(218, 218, 218) solid;
    padding: 20px;
    padding-inline: 30px;
    justify-content: center;
    text-align: center;
}

h1 {
    font-weight: 600;
}

.right-nav-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.messenger-link>img {
    width: 18px;
    mix-blend-mode: multiply;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.messenger-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 230, 234);
    height: 40px;
    width: 40px;
    border: #f1f1f1 1px;
    border-radius: 50%;
    transition: all .1s ease-out;
    cursor: pointer;
    margin-right: 7px;
}

.messenger-link:hover {
    background-color: rgb(220, 222, 226);
    cursor: pointer;
    transition: all .05s ease-in;
}

.messenger-link-nav>img {
    width: 18px;
    mix-blend-mode: multiply;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.messenger-link-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 230, 234);
    height: 40px;
    width: 40px;
    border: #f1f1f1 1px;
    border-radius: 50%;
    transition: all .1s ease-out;
    cursor: pointer;
    margin-right: 7px;
}

.messenger-link-nav:hover {
    background-color: rgb(220, 222, 226);
    cursor: pointer;
    transition: all .05s ease-in;
}

.order-status>ul>li {
    list-style-type: none;
    border-left: 3px solid rgb(57, 117, 234);
    padding-left: 19px;
    padding-bottom: 20px;
    font-size: 10px;
    color: #9c9c9c;
    font-weight: 300;
}

.order-status>ul>li>h3 {
    color: black;
    font-size: 16px;
}

.order-status>ul>li:before {
    content: "";
    position: absolute;
    margin-left: -28px;
    background: rgb(57, 117, 234);
    border-radius: 10px;
    border: 3px solid rgb(57, 117, 234);
    padding: 5px;
}

.non-active-point:before {
    background: #878787 !important;
    border-radius: 10px;
    border: 3px solid #878787 !important;
}

.non-active-point {
    border-left: 3px solid #878787 !important;
}

.non-active-point.last-point {
    border-left: 0 !important;
    padding-left: 21px;
}
.non-active-point.last-point {
    border-left: 0 !important;
    padding-left: 22px;
}


order-status>ul>li>h3 {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.order-info {
    padding-inline: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-info>h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

h3 {
    font-weight: 600;
}

.first-row {
    display: flex;
    padding-bottom: 20px;
}

.order-status {
    padding-top: 20px;
}

.order-status>h3 {
    padding-bottom: 20px;
    font-weight: 500;
}

.name-price-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 480px;
}

.name-price-row>h2 {
    font-size: 1.25em;
    font-weight: 600;
}

.text-product-info>span {
    font-size: 12px;
    color: #9c9c9c;
    font-weight: 300;
    padding-top: 0;
}

.text-product-info {
    display: flex;
    flex-direction: column;
}

.second-row-info>h1 {
    padding-bottom: 0;
}

.product-image {
    width: 175px;
    height: 175px;
    background-size: cover;
    background-position: center;
    border: #fff 1px solid;
    border-radius: 10px;
    margin-right: 10px;
}

.card-image {
    width: 175px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 3px #fff;
    margin-bottom: 10px;
}

.info-card {
    border: #ffffff 1px solid;
    border-radius: 15px;
    width: 175px;
    box-shadow: 0px 2px 3px rgba(190, 190, 190, 0.544);
    padding: 7px;
    margin-inline: 10px;
}

.recieve-payment-info>h1 {
    margin-bottom: 10px;
}

.recieve-payment-info>h2 {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #8d8d8d;
}

.card-text>h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.card-text>span {
    font-size: 12px;
    color: #464646;
    line-height: 0.2px;
}

.footer-info {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-info>h3 {
    font-weight: 300;
    font-size: 10px;
    color: #8d8d8d;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-image: url(/facebook/assets/images/card-image.png);
}

.waiting {
    background-image: url(/facebook/assets/images/waiting-image.png);
}

.money {
    background-image: url(/facebook/assets/images/money-image.png);
}

.reciever-info {
    padding-top: 20px;
}


.reciever-info>span {
    color: #686868;
    font-size: 12px;
}

.reciever-info>h1, #product-name {
    font-size: 16px;
    margin-bottom: 10px;
}

.section {
    background-color: #fff;
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 15px;
    box-shadow: 0px 1px 2px rgb(190, 190, 190);
    margin-bottom: 10px;
}

.order-status-nav {
    padding-bottom: 20px;
    border-bottom: 1px rgb(218, 218, 218) solid;
    display: flex;
    justify-content: center;
}
.order-status-nav>h3 {
    font-size: 1.5em;
}

.order-status>ul {
    padding-top: 20px;
}

.footer-button {
    color: #fff;
    background-color: rgb(57, 117, 234);
    border: 0;
    border-radius: 7px;
    height: 35px;
    width: 140px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    transition: all .1s ease-in;
}

.footer-button:hover {
    background-color: rgb(52, 108, 218);
    transition: all .1s ease-in;
}

.recieve-info-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none !important;
}

.profile-icon>a>img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-menu {
    position: absolute;
    right: 15px;
    top: 55px;
    background-color: #fff;
    width: 360px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #46464644;
    padding: 15px;
}

.profile-icon {
    display: flex;
    flex-direction: column;
    height: 40px;
}

.profile-pic-name {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #5858582d;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.name-pic>img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.name-pic>h1 {
    font-weight: 500;
    font-size: 1.1em;
    padding-bottom: 2px;
}

.name-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px rgb(218, 218, 218) solid;
}

.profile-pic-name>a {
    color: #1B74E4;
    font-weight: 500;
    font-size: 14px;
}

.profile-menu-button {
    background-color: white;
    display: flex;
    padding: 7px 0px;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    transition: all .1s ease-in-out;
    justify-content: space-between;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-menu-button:hover {
    background-color: #f5f5f5;
}

.arrow-2 {
    cursor: pointer;
    height: 10px;
    width: 6px;
    position: absolute;
    left: 350px;
    top: 153px;
}
.arrow-2-top, 
.arrow-2-bottom {
    background: #6d6d6d;
    height: 2px;
    top: 7.5px;
    width: 12.5px;
    position: absolute;
}
.arrow-2-top {
    top: 8px;
}
.arrow-2-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.arrow-2-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.profile-menu>ul>li {
    list-style-type: none;
    color: #65676b;
    font-size: 12px;
    display: inline;
    font-weight: 300;
}

.profile-menu>ul>li>a {
    color: #65676b;
}

.profile-menu>ul>li>a:hover {
    border-bottom: 1px #65676b solid;
}

.profile-menu>ul {
    padding-top: 10px;
}

@media screen and (max-width: 1230px) {
    #find-friends {
        display: none !important;
    }
}

@media screen and (max-width: 1000px) {
    #friends-button, #groups-button, .messenger-link-nav {
        display: none !important;
    }
}

@media screen and (max-width: 800px) {
    .center-nav-section>a {
        display: none;
    }
    nav {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .profile-menu {
        display: none !important;
    }
    .main-content-grid {
        display: block;
    }
    .info-card, .card-image {
        width: 150px;
    }
    .info-card {
        margin-inline: 10px;
    }
    .pop-up-window {
        width: 97vw !important;
        padding-right: 50px;
    }
}

@media screen and (max-width: 600px) {
    .info-card, .card-image {
        width: 250px;
    }
    .card-image {
        height: 150px;
    }
    .info-card {
        margin-bottom: 10px;
    }
    .cards-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {
    .order-info {
        flex-direction: column-reverse;
        padding-top: 20px;
    }

    .product-image {
        width: 60vw;
        height: 60vw;
        margin-right: 0;
    }
}

@media screen and (max-width: 400px) {
    .order-nav>h1, .order-status-nav>h3, .recieve-payment-info>h1 {
        font-size: 1.15em;
    }
    .recieve-payment-info>h2 {
        font-size: 0.7em;
    }
    .reciever-info>h1 {
        font-size: 14px;
    }
    .reciever-info>span {
        font-size: 10px;
    }
}

.pop-up-window {
    display: inline;
    position: fixed;
    top: 40%;
    width: 660px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,.5) 0 0 0 1000px;
    z-index: 999;
    padding: 10px;
    text-align: center;
}

.pay-system-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.pay-system-logos>a>img {
    width: 100px;
    height: 75px;
    object-fit: contain;
    padding-bottom: 10px;
}

.pay-system-logos>a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    box-shadow: 0 0 5px#9c9c9c37;
    margin-inline: 10px;
    border-radius: 10px;
    width: 150px;
}

.window-header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: #e1e1e1 1px solid;
    padding-top: 10px;
}

.pop-up-window>span {
    font-size: 12px;
    color: #9c9c9c;
}

.chat-menu-section {
    z-index: 1000;
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px #5858582d;
}

.chat-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
}

.chat-logo {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 10px;
}

.chat-name {
    font-size: 16px;
}

.close-chat>img {
    width: 15px;
    opacity: 50%;
}

.close-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.close-chat:hover {
    background-color: #dedede;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: #dedede 1px solid;
    flex-wrap: wrap;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    padding-right: 20px;
    width: 320px;
}

.chat-input>input {
    border: none;
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 20px;
    width: 250px;
    margin-right: 10px;
}

.chat-input>button>img {
    width: 20px;
    height: 20px;
}

.worker-message {
font-size: 12px;
  background-color: #dedede;
  color: black;
  padding: 10px;
  border-radius: 20px;
  float: left;
  clear: both;
  margin-bottom: 5px;
      max-width: 70%;
}

.client-message {
    font-size: 12px;
  background-color: rgb(57, 117, 234);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
  float: right;
  clear: both;
  margin-bottom: 5px;
      max-width: 70%;
}

.chat-messages {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
    overflow-y: scroll;
  height: 300px; /* высота контейнера сообщений */
  scroll-behavior: smooth;
}

#send-message-button, #add-file-button{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
}

#send-message-button>img, #add-file-button>img{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
}

#add-file-button {
    margin-right: 10px;
}

#open-chat-button>img {
    width: 40px;
    height: 40px;
}

#open-chat-button {
    border: none;
    height: 70px;
    width: 70px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #5858582d;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

